Inventory Interface Information Injector
https://www.nexusmods.com/skyrimspecialedition/mods/85702
The Handy Icon Collection Collective
https://www.nexusmods.com/skyrimspecialedition/mods/90508
powerofthree's Tweaks
https://www.nexusmods.com/skyrimspecialedition/mods/51073